body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    scroll-behavior: smooth;
}

body{
    padding: 10px;
}



:root {
    --primary-color: #cb1414;
    --secondary-color: #e6b31e;
    --accent-color: #2e4057;
    --background-color: #575656;
    --text-color: #333333;
  }

nav  {
    display: flex;
    justify-content: right;
    gap: 15px;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    right: 0;
    z-index: 100;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  nav li {
    margin: 0;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }

  nav a:hover {
    color: var(--primary-color);
    
  }
  @keyframes breathe {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  nav a:focus{
    outline: 2px solid var(--primary-color); /* Dikte: 2px, Stijl: solid, Kleur: var(--primary-color) */
  }

  nav a {
    position: relative;
    text-decoration: none;
    color: #333;
  }

  
  nav a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
  }
  
  nav a:hover::before {
    width: 100%;
  }
  
  span {
    color: var(--primary-color);
    animation: breathe 3s infinite;
    display: inline-block; /* Maak de span een inline-block element */
    padding: 5px; /* Geef de span wat ruimte */
  }
  
.we-love-web-intro {
    height: 100vh; /* Volledige viewport-hoogte */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0; /* Voorbeeld achtergrondkleur */
  }
  
  .we-love-web-intro h1 {
    font-size: 4rem; /* Grote lettergrootte voor de hoofdtekst */
    margin-bottom: 1rem;
  }
  
  .we-love-web-intro p {
    font-size: 1.5rem; /* Grotere lettergrootte voor de subtekst */
    max-width: 600px; /* Beperk de breedte voor leesbaarheid */
  }



.we-love-web-articles {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
.upcoming{
    font-size: 1.5rem; /* Grotere lettergrootte voor de subtekst */
    max-width: 600px; /* Beperk de breedte voor leesbaarheid */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
  .we-love-web-articles article {
    flex: 0 0 auto;
    margin-right: 20px; /* Adjust the spacing between articles */
  }

article {
    background: white;
    width: 350px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    margin-left: 2px;
    padding: 20px;
}

article:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    outline: 0.1em solid var(--primary-color);
  }

  article {
    position: relative;
  }
  
  article h2 {
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }

  summary{
    cursor: pointer;
  }
  
  article:hover h2::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    border-radius: 50%;
    background-color: var(--primary-color);
    opacity: 0.2;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%) scale(0.8);
  }
  
  article:hover h2::after {
    transform: translate(-50%, -50%) scale(1);
  }

article img {
    width: 100%;
    height: auto;
}

.we-love-web-articles::-webkit-scrollbar {
    height: 8px; /* Adjust the height of the scrollbar */
  }
  
  .we-love-web-articles::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Adjust the color of the scrollbar track */
  }
  
  .we-love-web-articles::-webkit-scrollbar-thumb {
    background-color: #888; /* Adjust the color of the scrollbar thumb */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Schaduw toevoegen */
    border-radius: 4px; /* Adjust the border radius of the scrollbar thumb */
  }

  

  
  .we-love-web-intro p a {
    color: var(--primary-color);
    display: inline-block;
    ;
  }

  .we-love-web-intro p a:hover {
    transform: scale(1.03);
  }



  .arrow {
    animation: bounceArrow 1s infinite;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  @keyframes bounceArrow {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(5px);
    }
  }


  .we-love-web-upcoming h1{
    margin-top: 500px;
    background-color: red;
  }
  .popup {
    display: none;
    position: absolute;
    right:50px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .popup img {
    width: 100px; /* Adjust size as needed */
    height: auto;
  }
  
  .popup-trigger:hover + .popup {
    display: block;
  }
  